.whatsapp{
position: fixed;
bottom: 50px;
left: 20px;
width: 50px;
cursor: pointer;
}

.about>img{
 float: left;

}
.about{

    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.about p{
    max-width: 700px;
    margin-right: 40px;
   text-align: justify;
}
h3{
    text-align: start;
    margin-bottom: 40px;
    letter-spacing: 1px;
}
h3::after{
    content: '';
    margin-top: 6px;
    display: block;
    width: 80px;
    height: 1px;
    background-color: brown;
    
}
h5{
    text-align: start;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.weDo{
margin-top: 150px;
padding-left: 180px;
padding-right: 180px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: centre;
gap: 30px;
}

.weDo p{
    text-align: justify;
}
.wedoList{
    display: flex;
    gap: 25px;
}
.wedoList>div img{

    max-width: 250px;
    z-index: 15;
    position: relative;


}

.hower>span{
    position: absolute;
    width:240px;
    margin-top: 20px;
    margin-left: 5px;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: black;
    z-index: 3;
    
}
.wedoList>div img:hover{
    opacity: .3;
    transition:.5s ease-in;
    z-index: 2;
    

}

.wedoList>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    color: #e62739;
    font-weight: bold;
    font-size: 18px;
}
.wedoList>div span{

cursor: pointer;
}

.whyz{
    margin-top: 60px;
}
.whyHead{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    letter-spacing: 1px;
    
}
.whyHead>span::after{
    content: '';
    margin-top: 6px;
    display: block;
    width: 80px;
    position: absolute;
    height: 1px;
    background-color: brown;
    
}

.whyClass{
    display: grid;
    grid-template-columns:  360px 360px 360px;
    margin-left: 150px;
    margin-top: 50px;
    grid-column-gap: 50px;
    grid-row-gap: 30px;
 
}

.whyClass> div img{
    width: 50px;
}

.whyClass>div{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    border: 1ps solid gray;
    width: 360px;
    background-color: rgb(234, 239, 243);
    padding: 10px 10px 10px 10px ;
    border-radius: 15px;

}

.support{
    margin-top: 80px;
    background-image:url(../.././DATA/testi-bg.jpg) ;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
}
.support p{
    
    width: 500px;
    font-size: 15px;
    line-height: 26px;
    border-radius: 30px;
    padding: 20px 20px 0;
    margin-bottom: 40px;
    color: #e6e6e6;
    border: 1px dotted #dbdbdb;
}

.support>div img{
    width: 60px;


}
.support>div{
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
}
/*
.works{
    margin-top: 120px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: justify;

    
}
.localWork{
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.localWork>div img{
  width: 400px;

}
.localWork>div .workDescription{
    margin-right: 200px;
   

}*/